.pageWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px); /* Topbar 높이 제외 */
  overflow: hidden;
}

.mainArea {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .mainArea {
    flex-direction: column;
  }
}
